<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
  </li>
</ul>
<!-- 
  [(ngModel)]
    - Tạo một liên kết hai chiều giữa trường input và một thuộc tính của mô hình. 
    - Khi giá trị trong trường input thay đổi, giá trị của thuộc tính mô hình cũng sẽ thay đổi và ngược lại. 
  NgFor 
    - Sử dụng để lặp qua các phần tử của một mảng hoặc danh sách và tạo ra các mảnh HTML tương ứng cho mỗi phần tử. 
    - Directive này giúp bạn hiển thị dữ liệu động trong template của bạn.
  NgIf
    - Để hiển thị hoặc ẩn một phần tử HTML dựa trên điều kiện. 
    - condition là biến hoặc biểu thức logic mà bạn muốn kiểm tra.
-->
